macula-boot/macula-boot-core/src/main/resources/org/maculaframework/boot/core/repository/config/macula-repository-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2004-2019 the original author or authors.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns="http://www.maculaframework.org/schema/repository"
           xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.maculaframework.org/schema/repository">
  <xs:element name="sqls" type="sqlsType"/>
  <xs:complexType name="sqlsType">
    <xs:sequence>
      <xs:element type="sqlType" name="sql" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sqlType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>