macula-boot/macula-boot-core/src/main/resources/org/maculaframework/boot/core/repository/config/macula-repository-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns="http://www.maculaframework.org/schema/repository"
           xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.maculaframework.org/schema/repository">
  <xs:element name="sqls" type="sqlsType"/>
  <xs:complexType name="sqlsType">
    <xs:sequence>
      <xs:element type="sqlType" name="sql" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sqlType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>